
header{
    background-color:#b7d5e5;
    padding:1vh;
    box-shadow: 0 0 5px #050505;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
    
  }
  .logo{
    background: url("/images-removebg-preview.png");
    height: 150px;
    width: 370px;
    background-repeat: no-repeat;
    background-size: 90%;
    margin-top: 20px;
    margin-left:80px;
    margin-right:200px;
    
  }
  
  ul{
    display:flex;
    
  }
  
  a{
    text-decoration:none;
    color:black;
  }
  
  header nav ul li a{
    text-decoration: none;
    padding: 15px;
    border: 1px solid white;
    color: white;
    align-items: center;

}
header nav ul{
    display: flex;
    list-style: none;
    gap: 10px;
}
header nav ul li a:hover{
    cursor: pointer;
    color: gray;
}