
.content-main{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;


/*gap: 20px;
flex-wrap: wrap;
justify-content: center;*/

}
.barrapesquisa{
    height: 30px;
    border: 1px solid  #0abab5;
    width: 40%;
    border-radius: 5px;
    font-size: 1.4rem;
   
}
.barrapesquisa:focus-visible{
    outline: 1px solid  #0abab5;
}
.pesquisa{
    padding: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
    text-align: center;
    color:#0abab5;
}
